flac-1.3.2/examples/c/decode/file/Release/*
flac-1.3.2/examples/c/encode/file/Release/*
flac-1.3.2/examples/cpp/decode/file/Release/*
flac-1.3.2/examples/cpp/encode/file/Release/*
flac-1.3.2/src/flac/Release/*
flac-1.3.2/src/flac/Release_iffscan/*
flac-1.3.2/src/libFLAC++/Release/*
flac-1.3.2/src/libFLAC++/Release_dynamic/*
flac-1.3.2/src/libFLAC/Release/*
flac-1.3.2/src/libFLAC/Release_dynamic/*
flac-1.3.2/src/metaflac/Release/*
flac-1.3.2/src/share/getopt/Release/*
flac-1.3.2/src/share/grabbag/Release/*
flac-1.3.2/src/share/replaygain_analysis/Release/*
flac-1.3.2/src/share/replaygain_synthesis/Release/*
flac-1.3.2/src/share/utf8/Release/*
flac-1.3.2/src/share/win_utf8_io/Release/*
flac-1.3.2/src/test_grabbag/cuesheet/Release/*
flac-1.3.2/src/test_grabbag/picture/Release/*
flac-1.3.2/src/test_libFLAC++/Release/*
flac-1.3.2/src/test_libFLAC/Release/*
flac-1.3.2/src/test_libs_common/Release/*
flac-1.3.2/src/test_seeking/Release/*
flac-1.3.2/src/test_streams/Release/*
flac-1.3.2/src/utils/flacdiff/Release/*
flac-1.3.2/src/utils/flactimer/Release/*
flac-1.3.2/FLAC-vs2005.ncb
flac-1.3.2/FLAC-vs2005.suo
flac-1.3.2/examples/c/decode/file/*.user
flac-1.3.2/examples/c/encode/file/*.user
flac-1.3.2/examples/cpp/decode/file/*.user
flac-1.3.2/examples/cpp/encode/file/*.user
flac-1.3.2/src/flac/*.user
flac-1.3.2/src/flac/*.user
flac-1.3.2/src/libFLAC++/*.user
flac-1.3.2/src/libFLAC++/*.user
flac-1.3.2/src/libFLAC/*.user
flac-1.3.2/src/libFLAC/*.user
flac-1.3.2/src/metaflac/*.user
flac-1.3.2/src/share/getopt/*.user
flac-1.3.2/src/share/grabbag/*.user
flac-1.3.2/src/share/replaygain_analysis/*.user
flac-1.3.2/src/share/replaygain_synthesis/*.user
flac-1.3.2/src/share/utf8/*.user
flac-1.3.2/src/share/win_utf8_io/*.user
flac-1.3.2/src/test_grabbag/cuesheet/*.user
flac-1.3.2/src/test_grabbag/picture/*.user
flac-1.3.2/src/test_libFLAC++/*.user
flac-1.3.2/src/test_libFLAC/*.user
flac-1.3.2/src/test_libs_common/*.user
flac-1.3.2/src/test_seeking/*.user
flac-1.3.2/src/test_streams/*.user
flac-1.3.2/src/utils/flacdiff/*.user
flac-1.3.2/src/utils/flactimer/*.user
libogg-1.3.3/win32/VS2008/*.user
